.App {

}

.header {
    background-color: lightblue;
}

.container {
    background-color: lightgrey;
}

.list {
    background-color: lightgreen;
}

.createList {
    background-color: lightseagreen;
}